body {
    background: linear-gradient(156deg, #06091d, #38427a 100%);
    min-height: 100vh;
}

.root {
    font-family: 'Lato', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    color: #e4e9ff;
}

@media screen and (max-width: 768px) {
    .root {
        justify-content: start;
        min-height: 100%;
    }
}

.landing-container {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    column-gap: 1.5rem;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    padding: 5%;
}

@media screen and (max-width: 768px) {
    .landing-container {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        padding: 8%;
    }
}

.landing-left,
.landing-right {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
}

.landing-left {
    justify-self: end;
}

.landing-logo {
    width: 400px;
    height: auto;
}

@media screen and (max-width: 768px) {
    .landing-logo {
        width: 200px;
    }
}

.landing-slogan {
    font-size: 2.4rem;
    line-height: 1.4;
    font-weight: 900;
    max-width: 24ch;
}

.landing-info {
    hyphens: auto;
    text-align: justify;
    font-weight: 600;
    line-height: 1.7;
    font-size: 1.3rem;
    max-width: 25ch;
}

a:has(>.landing-btn) {
    max-width: max-content;
}

.landing-btn {
    cursor: pointer;
    font-size: 1.2rem;
    padding: 0.8rem 1rem;
    font-weight: 800;
    border: none;
    background-color: #e4e9ff;
    color: #2d3465;
    text-transform: uppercase;
    letter-spacing: 2px;
    border-radius: 8px;
}

.landing-btn:hover {
    background-color: #e4e9ffc3;
}